:root {
	--chill-out-blue: #0077AA;
	--paper-white: #FAFAFA;
	--body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--heading-font: Palatino, Palatino Linotype, Palatino LT STD, Book Anitqua, Georgia, serif;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	/* background-color: #e0e0e0; */
	background-color: var(--chill-out-blue);
	color: #222;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: var(--body-font);
	line-height: 1.5;
	/* border: 2rem solid var(--chill-out-blue);
	border-radius: 3rem; */
}

a {
	color: rgb(0,100,200);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

em {
	font-weight: 600;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.visibly-hidden {
	width: 1px;
	height: 1px;
	opacity: .01;
	position: absolute;
	left: -1px;
	top: -1px;
}

.masthead {
	color: var(--paper-white);
	text-align: center;
	margin: 3rem auto 6rem;
}

.masthead__wrap {
	display: inline-block;
}

.masthead__logo {
	width: 25rem;
	
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--paper-white);
}

.masthead__subheading {
	font-size: 1.5rem;
	text-transform: uppercase;
	padding-bottom: .25rem;
	/* border-bottom: 1px solid var(--paper-white); */
}

.masthead__phone {
	display: block;
	color: var(--paper-white);
	font: var(--heading-font);
	font-size: 2.5em;
	font-weight: 800;
	margin-bottom: 1rem;
}

.masthead__address {
	font-size: 1.25rem;
}

main {
	margin: 3rem;
	background-color: var(--paper-white);
	border-radius: 3rem;
}

.menu {
	max-width: 40rem;
	margin: 0 auto;
	padding: 2rem 3rem;
	font-size: 1.125rem;
}

.edit-hover:hover {
	background-color: #cde;
}

.menu__heading {
	font-family: var(--heading-font);
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: var(--chill-out-blue);
	/* text-decoration: underline; */
	text-underline-position: .25rem;
	margin-bottom: .5em;
}

.menu__list {
	padding: 0;
}

.menu__row {
	margin: .75rem 0;
	list-style: none;
	padding: 0;
}

.menu__info {
	font-size: 1.25rem;
	line-height: 1.25;
	color: var(--chill-out-blue);
	text-align: center;
	margin: .25em 0 1.125em;
}

.menu__id {
	font-weight: 700;
}

.menu__title {
	font-weight: 700;
}

.menu__price {
	float: right;
	font-weight: 700;
}

.menu__desc {
	display: block;
}

.menu__options {
	list-style: none;
}

.menu__option-title {
	font-weight: 700;
}

.menu__option-price {
	float: right;
	font-weight: 700;
}
