:root {
	--chill-out-blue: #0088DD;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

em {
	font-weight: 600;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.site-title {
	text-align: center;
	font-size: 4em;
}

.menu {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0 3rem;
	font-size: 1.125rem;
}

.menu__heading {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--chill-out-blue);
	/* text-decoration: underline; */
	text-underline-position: .25rem;
	margin-bottom: .5em;
}

.menu__list {
	padding: 0;
}

.menu__row {
	margin: .75rem 0;
	list-style: none;
	padding: 0;
}

.menu__info {
	font-size: 1.25rem;
	line-height: 1.25;
	color: var(--chill-out-blue);
	text-align: center;
	margin: .25em 0 1.125em;
}

.menu__id {
	font-weight: 700;
}

.menu__title {
	font-weight: 700;
}

.menu__price {
	float: right;
	font-weight: 700;
}

.menu__desc {
	display: block;
}

.menu__options {
	list-style: none;
}

.menu__option-title {
	font-weight: 700;
}

.menu__option-price {
	float: right;
	font-weight: 700;
}
